body {
    margin: 0;
    padding: 0;

    background-color: white;

    font-size: 14px;
    font-style: normal;

    color: #495057;

    /*width: 120%;*/

    /*z-index: -1;*/
}

div, ul, span, li, a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

#wrapper {
    width: 100%; /*100%是浏览器当前窗口的宽度*/
    height: auto;
    min-width: 1184px; /*当浏览器当前窗口小于1184px时，移动窗口，会出现设置width是100%的元素未能覆盖被移动出来的部分*/
}

.inner {
    width: 1184px;
    /*height: auto;*/
    margin: 0 auto;

    /*border: 1px solid darkcyan;*/
}

/*header start*/
#my-head {
    /*border: 1px solid red;*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}

#logo {
    float: left;

}

#menu {
    float: right;
}

#menu .home {
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("home.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain; /*至关重要，没有这句，背景图不显示。原因未知。*/

    position: absolute;
    top: 11px;
    left: -21px;

    /*background-color: red;*/
    /*position: relative;*/
}

#menu .video {
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("camera.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain; /*至关重要，没有这句，背景图不显示。原因未知。*/

    position: absolute;
    top: 14px;
    left: -20px;

    /*background-color: red;*/
    /*position: relative;*/
}

#menu li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
}

#menu a {
    color: gray;
}

#menu a:hover {
    display: inline-block;
    height: 100%;
    color: dodgerblue;
    border-bottom: 1px solid green;
}

#first-letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: red;
    border: 1px solid red;
    font-size: 20px;
    border-radius: 100%;
    color: white;
    /*border-radius: 60px;*/
}

/*header end*/

#tip {
    margin-top: 1px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: #6b1110;
    background-color: #f5d2d2;
    border-color: #f1c1c0;

    white-space: nowrap;
}


#main {
    padding-top: 40px;
    /*border: 1px solid green;*/
    width: 100%;
    /*height: 1000px;*/
    height: auto;
}

.meeting-operation {
    height: 450px;

    /*border: 1px solid red;*/
}

.meeting-title {
    height: 150px;
}

.meeting-title h2 {
    font-size: 45px;
    height: 30px;
}

.meeting-title p {
    font-size: 18px;
    color: gray;
}

.create-meeting {
    float: left;
    height: 150px;

    /*border: 1px solid red;*/
}

.meeting-link {
    height: 100px;
}

.copy {
    float: left;
}

.copy-label {
    font-weight: 900;
}

.copy .ipt input {
    width: 400px;
    height: 20px;
    padding: 10px 40px;
    font-size: 15px;
    color: gray;
    outline: none;
}

.copy .ipt span {
    position: relative;
}

.copy .ipt span .icon-link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("link.png");

    position: absolute;
    top: 2px;
    left: 18px;
}

.copy .ipt button{
    position: relative;
}

.copy .ipt button .icon-copy{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("copy.png");

    position: absolute;
    top: 10px;
    left: 18px;
}

.copy .ipt button {
    width: 120px;
    height: 44px;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    background-color: royalblue;
    color: white;
}

.copy .ipt button:hover {
    background-color: dodgerblue;
}

.start-meeting {
    float: right;
    line-height: 100px;
    vertical-align: center;
    /*border: 1px solid red;*/
}

.start-meeting button {
    width: 250px;
    height: 60px;
    font-size: 25px;
    font-weight: 900;
    background-color: royalblue;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.start-meeting button:hover {
    background-color: dodgerblue;
}

.two-meeting {
    margin-top: 40px;
    height: 70px;

    /*border: 1px solid green;*/
}

.last-meeting {
    padding: 0px 0px;
    float: left;
    width: 35%;
    height: 100%;
    cursor: pointer;

    position: relative;

    border: 1px solid gray;
}

.last-meeting-icon {
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: royalblue;
    border-radius: 2px;

    position: relative;
    top: 19px;
    left: 100px;
}

.meeting-brief {
    float: left;
    margin-left: 130px;
    position: relative;
    top: 3px;
}

.meeting-brief h4 {
    margin-top: 10px;
    height: 10px;
    font-size: 16px;
}

.meeting-brief p {
    line-height: 0px;
    font-size: 13px;
    color: gray;
}

.new-meeting {
    float: left;
    width: 35%;
    height: 100%;
    line-height: 70px;
    font-size: 16px;
    font-weight: 900;

    cursor: pointer;

    text-align: center;

    margin-left: 40px;

    border: 1px dashed gray;

    position: relative;
}

.new-meeting:hover {
    background-color: darkgray;
}

.add-meeting-icon {
    display: inline-block;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;  /*无这句，标签的内容会出现在标签之外*/
    font-style: normal;
    background-color: royalblue;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 21px;
    left: 120px;

    /*border: 1px solid green;*/
}

.my-table {
    border: 1px solid darkgray;
    height: 700px;
}

.list-title {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 20px;
}

.list-title .title {
    float: left;
}

.list-title .search-ipt {
    float: right;
    position: relative;
}

.list-title .search-ipt input {
    padding: 0px 20px;
    outline: none;
    width: 250px;
    height: 30px;
}

.search-icon {
    display: inline-block;
    width: 30px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-position: 0px -120px;*/
    background-image: url("search.png");
    /*border: 1px solid green;*/
    cursor: pointer;

    position: absolute;
    top: 27px;
    right: 0px;
    z-index: 200;

}

.meeting-list li {
    margin: 0;
    padding: 0;
    /*display: inline-block;*/
    float: left; /*清除li间距*/
    width: 16.5%;
    height: 60px;
    line-height: 60px;
    text-align: center;

    /*vertical-align: center;*/

    /*border: 1px solid red;*/
}

.meeting-list .my-td li {
    border-bottom: 1px solid darkgray;
}

.meeting-list .my-th {
    font-weight: 900;
    border: 1px solid darkgray;
    height: 60px;
}

.no-video {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: darkgray;
    text-align: center;
    border-bottom: 1px solid darkgray;
}

.my-td img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#my-foot {
    /*border: 1px solid green;*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
